html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font-family;
}

ul {
  list-style: none;
  padding-left: 0;
}

.error {
  color: red;
}

.center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.disabled {
  position: relative;

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: white;
    opacity: 0.5;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
